@import "~bootstrap/scss/variables";

.autocomplete {
  display: inline-block;

  .paginated-autocomplete-selected {
    background-color: transparentize($primary, 0.5);
  }

  .search-results {
    z-index: 700;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);

    .search-result-item {
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: transparentize($primary, 0.5);
      }
    }

    .searching {
      padding: 8px;
      text-align: center;
    }

    .more-results {
      padding: 8px;
      text-align: center;
    }

    .no-more-results {
      padding: 8px;
      text-align: center;
    }

    hr.separator {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.autocomplete-search-group {
  display: flex;

  .search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      z-index: 4;
    }
  }

  .autocomplete-search-group-append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
}

.autocomplete-2 {
  .results {
    position: absolute;
    top: 44px;
    z-index: 100;
    border-radius: 6px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);

    .no-more-results {
      padding: 8px;
      text-align: center;
    }

    .list-group-item {
      &.selectable {
        &:hover {
          background-color: lighten($primary, 20%);
        }
      }
    }
  }

  .loading {
    position: absolute;
    top: 44px;
    z-index: 700;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    padding: 8px;
    text-align: center;
    width: 100%;
  }
}