@import "custom";

.card-list {
  .card-list-item {
    &:not(:first-child) {
      margin-top: 20px;
    }

    &.card-small-spacing {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    transition: box-shadow 0.5s, opacity 0.3s;

    border-radius: 6px;
    border: 1px solid $gray-300;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .datetime {
      font-size: 13px;
      color: $gray-gray;
    }

    &.disabled {
      opacity: 0.6;
    }
  }
}

.stack-list {
  border-radius: 6px;
  border: 1px solid $gray-300;
  background-color: white;

  .stack-list-item {
    padding: 1rem;

    &:not(:first-child) {
      border-top: 1px solid $gray-300;
    }

    .text-small {
      font-size: 13px;
      color: $gray-gray;
    }
  }

  .stack-list-item-separator {
    margin-top: 0;
    margin-bottom: 0;
  }
}