@import "custom";

.tag-list {
  .tag {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &.tag-list-autocomplete {
    .tag {
      &:last-child {
        margin-right: 10px;
      }
    }
  }

  &.many-rows {
    .tag {
      margin-bottom: 5px;
    }
  }
}

.tag {
  display: inline-block;
  padding: 0.25em 0.6em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;

  &.tag-exists {
    background-color: red !important;
  }

  &.tag-sm {
    font-size: 14px;
  }

  &.pending {
    opacity: 0.5;
  }

  .remove {
    color: $lighterGray;
    border-left: 1px solid $lighterGray;
    padding-left: 8px;
    margin-left: 8px;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}

ul {
  &.ui-autocomplete {
    list-style-type: none;
    padding-left: 0;
    background-color: white;
    border: 1px solid gray;
    max-width: 200px;

    li {
      padding: 4px;

      &:hover {
        cursor: pointer;
        background-color: $primaryLight;
      }
    }
  }
}