{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block center %}
<div class="d-flex justify-content-center align-items-center m-auto vh-100">
    <div class="login-form p-3 bg-white border-dark-gray border rounded">
        <div class="content">
            <h1 class="text-center title">Time Tracker</h1>

            {% if error %}
                <div class="login-error invalid-feedback d-block">
                    <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                    {{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="inputEmail" name="email" class="form-control" value="{{ last_username }}" required="required" autofocus autocomplete="username" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required="required" autocomplete="current-password" />
                </div>

                <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                <label for="remember_me">Keep me logged in</label>

                <input type="submit" id="_submit" name="_submit" class="btn btn-primary form-control" value="Log in" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
