{% extends 'sidebar.html.twig' %}

{% block content_class %}w-100{% endblock %}

{% block content_body %}
    <div class="p-3 js-data"
         data-duration-format="{{ app.user.durationFormat }}">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
