// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);

@import "partials/colors";
@import "~bootstrap";
@import "~bootstrap/scss/variables";
@import "partials/tags";
@import "partials/filters";
@import "partials/autocomplete";
@import "partials/statistics";
@import "partials/card_list";

$headerHeight: 64px;
$paddingFromHeader: 20px;

.full-width {
    width: 100vw;
}

.w-p-50 {
    width: 50px !important;
}

#user-profile, #notifications-icon {
    cursor: pointer;
}

#user-profile ~ .dropdown-menu {
    width: 200px;

    h5 {
        font-size: 1.0rem;
        margin-bottom: 0;
    }

    h6 {
        font-size: 0.8rem;
        margin-bottom: 0;
        font-weight: 400;
    }

    .user-information {
        vertical-align: top;
    }
}

.small-text {
    font-size: 14px;
}

.header {
    font-size: 40px;
}

.title {
    font-size: 26px;
    font-weight: 400;
}

.subtitle {
    font-size: 18px;
}

.inline-form-header {
    font-weight: bold;
}

.color-tile {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.form-control {
    &.is-invalid {
        &.anti-form-control {
            padding: unset;
            border-color: unset;
            border: unset;
        }
    }
}

.opacity-invisible {
    opacity: 0;
}

.unset-width {
    width: unset;
}

.unset-height {
    height: unset;
}

.pointer-hover {
    &:hover {
        cursor: pointer;
    }
}

.help-button-title {
    font-size: 20px;
    vertical-align: middle;

    svg {
        &:focus {
            outline: unset;
        }
    }
}

.no-resize {
    resize: none;
}

.input-with-indicators {
    .input-indicator {
        min-width: 35px;
        background-color: rgb(233, 236, 239);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-indicator-left {
        border-left: solid 1px rgb(206, 212, 218);
        border-top: solid 1px rgb(206, 212, 218);
        border-bottom: solid 1px rgb(206, 212, 218);
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    input {
        &.left {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.rounded-left-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: $headerHeight 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);

    background-color: $dark;
    overflow-y: scroll;

    a, a:hover, a:focus {
        text-decoration: none;
    }

    ul {
        li {
            a {
                display: block;
                padding: 10px 10px 10px 20px;
                color: lighten($primary, 30%);

                &:hover, &.active {
                    background-color: lighten($dark, 20%);
                }
            }
        }
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - #{$headerHeight});
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

header {
    min-height: $headerHeight;
}

main {
    .resource {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

#flash-messages {
    .flash {
        &:first-child {
            margin-top: 1rem;
        }
    }
}

#fixed-flash-messages {
    position: fixed;
    top: $headerHeight + 10px;
    margin-left: -15px;
    z-index: 500;

    .hide-top {
        top: -1000px;

        &.unhide-top {
            top: 0;
        }
    }

    .alert {
        transition: top 0.3s;
    }
}

.task-complete {
    padding: 0 5px;
    display: inline-block;
    min-width: 30px;
}

.tab-pane.contained {
    background: $white;
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border: 1px solid $gray-300 !important;
    border-top: none !important;
    overflow: hidden;
}