// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);

@import "partials/colors";
@import "~bootstrap";
@import "~bootstrap/scss/variables";
@import "partials/tags";
@import "partials/filters";
@import "partials/autocomplete";

$sidebarWidth: 260px;
$headerHeight: 58px;
$paddingFromHeader: 20px;

.ml-sidebar {
    margin-left: $sidebarWidth;
}

.full-width {
    width: 100vw;
}

.full-width-with-sidebar {
    width: calc(100vw - #{$sidebarWidth});

    @media (max-width: 768px) {
        width: 100vw;
    }
}

.full-height-with-elements {
    height: calc(100vh - #{$headerHeight});
}

.full-height-no-footer-header {
    height: calc(100vh - #{$headerHeight});
}

.under-header {
    margin-top: $headerHeight;
}

.w-p-50 {
    width: 50px !important;
}

body {
    height: 100vh;
    background-color: $light;

    header {
        z-index: 900;

        .sidebar-visibility {
            margin-right: 20px;

            &:focus {
                box-shadow: none; // Clear bootstrap's button focus color
            }
        }

        &.navbar {
            position: fixed;
            width: 100vw;
            height: $headerHeight;
        }
    }

    .center {
        display: flex;
        align-items: stretch;

        .sidebar {
            position: fixed;
            width: $sidebarWidth;
            height: 100vh;
            top: $headerHeight;
            transition: all 0.3s;
            border-right: 1px darken($light, 10%) solid;
            background-color: $dark;
            left: 0;
            z-index: 800;
            overflow-y: scroll;

            &.hide {
                left: -$sidebarWidth;
            }

            a, a:hover, a:focus {
                text-decoration: none;
                transition: 0.3s all;
            }

            ul {
                padding: 10px 0 0 0;

                li {
                    a {
                        display: block;
                        padding: 10px 10px 10px 20px;
                        color: lighten($primary, 30%);

                        &:hover, &.active {
                            background-color: lighten($dark, 20%);
                        }
                    }
                }
            }
        }

        > .content {
            padding-top: $headerHeight;
            transition: 0.3s all;

            // Rename to something else.
            &.hide {
                margin-left: 0;
            }
        }

        @media (max-width: 768px) {
            .sidebar {
                left: -$sidebarWidth;
                border-right: none;

                &.hide {
                    left: 0;
                    width: 100vw;
                }

                ul {
                    padding: 10px 0 0 0;

                    li {
                        a {
                            display: block;
                            padding: 10px 10px 10px 20px;
                            color: lighten($primary, 30%);
                            text-align: center;

                            &:hover {
                                background-color: lighten($dark, 20%);
                            }
                        }
                    }
                }
            }

            .content {
                margin-left: 0;
            }
        }
    }
}

#user-profile, #notifications-icon {
    cursor: pointer;
}

#user-profile ~ .dropdown-menu {
    width: 200px;

    h5 {
        font-size: 1.0rem;
        margin-bottom: 0;
    }

    h6 {
        font-size: 0.8rem;
        margin-bottom: 0;
        font-weight: 400;
    }

    .user-information {
        vertical-align: top;
    }
}

.small-text {
    font-size: 14px;
}


.header {
    font-size: 40px;
}

.title {
    font-size: 26px;
    font-weight: 400;
}

.subtitle {
    font-size: 18px;
}

.inline-form-header {
    font-weight: bold;
}

.color-tile {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.form-control {
    &.is-invalid {
        &.anti-form-control {
            padding: unset;
            border-color: unset;
            border: unset;
        }
    }
}

.opacity-invisible {
    opacity: 0;
}

.unset-width {
    width: unset;
}

.pointer-hover {
    &:hover {
        cursor: pointer;
    }
}

.help-button-title {
    font-size: 20px;
    vertical-align: middle;

    svg {
        &:focus {
            outline: unset;
        }
    }
}

// Hide text for JQuery UI autocomplete
.ui-helper-hidden-accessible {
    display: none;
}

.task-complete {
    padding: 0 5px;
    display: inline-block;
    min-width: 30px;
}

.no-resize {
    resize: none;
}


.input-with-indicators {

    .input-indicator {
        min-width: 35px;
        background-color: rgb(233, 236, 239);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-indicator-left {
        border-left: solid 1px rgb(206, 212, 218);;
        border-top: solid 1px rgb(206, 212, 218);;
        border-bottom: solid 1px rgb(206, 212, 218);
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    input {
        &.left {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

input {
    &.js-form {
        padding: 5px;
    }
}

.rounded-left-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#fixed-flash-messages {
    position: fixed;
    top: $headerHeight;
    z-index: 500;

    .hide-top {
        top: -1000px;

        &.unhide-top {
            top: 0;
        }
    }

    .alert {
        transition: top 0.3s;
    }
}

