#activity {
  min-height: 300px;
  background-color: white;
  padding: 6px 12px;
}

#markdown {
  textarea {
    min-height: 300px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

#preview-content {
  min-height: 300px;
  background-color: white;
  padding: 6px 12px;
}