.timestamp-list {
  .timestamp {
    &:not(:first-child) {
      margin-top: 20px;
    }

    transition: box-shadow 0.5s;

    .spinner {
      display: inline-block;
    }

    border-radius: 6px;
    border: 1px solid #dee2e6;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .time-ago {
    }

    .datetime {
      font-size: 13px;
      color: gray;
    }
  }
}