{% macro display() %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {{ _self.create(label, message) }}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro create(label, message ) %}
    <div class="alert alert-{{ label }} alert-dismissible fade show flash" role="alert" data-turbo-cache="false">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
{% endmacro %}

{% macro deleted_warning(message) %}
    <div class="alert alert-warning fade show flash" role="alert" data-turbo-cache="false">
        <strong>Warning</strong>
        {{ message }}
    </div>
{% endmacro %}