{% macro valueList(items, refreshUrl, attr) %}
    {% set _attr = { class: ''} %}
    {% if attr %}
        {% set _attr = _attr|merge(attr) %}
    {% endif %}

    <div
        class="statistic-values d-inline-flex flex-wrap flex-column {{ _attr.class }}"
        {{ stimulus_controller('statistic-value-list', {
            refreshUrl: refreshUrl,
        }) }}
        data-action="create-statistic-value:created@window->statistic-value-list#addValue statistic-value:remove->statistic-value-list#removeValue">

        {{ include('statistic_value/partials/_statistic-value-index.html.twig', { values: items }) }}
    </div>
{% endmacro %}